AGENT_BASE_URL=
AGENT_MODEL=
AGENT_API_KEY=
AGENT_AUTH_TOKEN=
AGENT_MAX_TOKENS=4096
AGENT_MAX_MODEL_ROUNDS=16
AGENT_MAX_TOOL_CALLS=64
AGENT_MAX_TASK_SECONDS=1800
AGENT_MODEL_TIMEOUT_SECONDS=120
AGENT_ENABLE_BUILD_TOOLS=0
AGENT_BUILD_TIMEOUT_SECONDS=300
AGENT_ENABLE_RAG=1
AGENT_RAG_MODE=hybrid
AGENT_RAG_PACK_ROOT=E:\desktop\How_to_build_a_agent\AgentFramework-Knowledge\ecfr-2026-09-03
AGENT_RAG_TOP_K=6
AGENT_RAG_MAX_TOTAL_BYTES=32768
AGENT_RAG_STARTUP_TIMEOUT_SECONDS=120
AGENT_RAG_QUERY_TIMEOUT_SECONDS=30
AGENT_RAG_DEVICE=auto
AGENT_RUNTIME_ROOT=runtime_data
