AGENT_BASE_URL=
AGENT_MODEL=
AGENT_API_KEY=
AGENT_AUTH_TOKEN=
AGENT_MAX_TOKENS=4096
AGENT_MAX_MODEL_ROUNDS=16
AGENT_MAX_TOOL_CALLS=64
AGENT_MAX_TASK_SECONDS=1800
AGENT_MODEL_TIMEOUT_SECONDS=120
AGENT_ENABLE_BUILD_TOOLS=0
AGENT_BUILD_TIMEOUT_SECONDS=300
AGENT_ENABLE_RAG=0
AGENT_RAG_PYTHON=python
AGENT_RAG_SCRIPT=
AGENT_RAG_INDEX=
AGENT_RAG_TOP_K=5
AGENT_RAG_TIMEOUT_SECONDS=10
AGENT_RUNTIME_ROOT=runtime_data
